[Unit]
Description=plume — logs mailserver périodiques

[Timer]
OnBootSec=200s
OnUnitActiveSec=5min
AccuracySec=30s

[Install]
WantedBy=timers.target
